body,html {
	height: 100%;
	margin: 0px;
	background-color: black; /*#221f40*/
	color: #48f750;
	font-family: 'Anonymous Pro', monospace;
	scroll-behavior: smooth;
}

h1{
	font-size: 3rem;
}

.page {
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	border: 0;
	max-width: 100%;
}

.page.p1 {
	background-color: black;
}

.page.p2 {
	background-color: black;
	height: fit-content;
}



.homepage {
	height: 100%;
	width: 70%;
	margin-left: 10%;
	/*border: solid;*/
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}

.creationheader {
	height: 20%;
	margin-left: 20%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	padding-bottom: 0;
}

.identityheader {
	height: 20%;
	margin-left: 20%;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-end;
	padding-bottom: 0;
}

.creationpage {
	height: 80%;
	width: 50%;
	margin-left: 25%;
	margin-top: 4%;
	/*border: solid;*/
	/*display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	justify-content: center;*/
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.identitypage {
	height: 80%;
	width: 75%;
	margin-left: 0;
	margin-top: 4%;
	/*border: solid;*/
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
	justify-content: flex-start;
}

.identityside {
	width: 25%;
	/*border: solid;*/
	height: 100%;
	margin: 0;
}

.identitycontent {
	width: 74%;
	/*border: solid;*/
	height: 100%;
	border-color: white;
	margin: 0;
	display: grid;
	grid-template-columns: 3fr 2fr;
}

.identity-about-me{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.photo-container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-start;
}


.picofme{
	height: 400px;
	width: 300px;
	border-radius: 10px;
}

.creationcard {
	border: solid;
	display: flex;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	align-content: space-between;
	justify-content: flex-start;
	transition: all 0.3s;
}

.creationcard:hover {
	background-color: #48f750;
	color: #221f40;
	border-color: #48f750;
	transform: scale(1.2);
}

.homecontent {
	/*border: solid;*/
	margin-top: 15%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 600px){
    .homecontent > *{
        text-align: center;
    }

    h1{
    	font-size: 2rem;
    }

    p{
    	font-size: 3px;
    }

    .sidebar > * {
    	display: none;
    }

    .identitycontent{
    	grid-template-columns: 1fr;
    }

    .page.p3{
			height: fit-content;
		}
}

.subcontent {
	width: 50%;
	grid-row: span 3;
}

.sidebar {
	/*border: solid;*/
	position: fixed;
	top: 60%;
	left: 80%;
	width: 10%;
	height: 30%;
	display: flex;
	flex-wrap: wrap;
	justify-content: right;
}

.navlist {
	text-align: right;
	list-style-type: none;
	line-height: 2rem;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	text-shadow: 0px 0px 5px #48f750;
}

.modal-image{
	width: 30vw;
	height: 50vh;
}

.footer{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a:link {
	color: #48f750;
}

a:visited {
	color: inherit;
}

a:hover {
	color: white;
}

p {
	font-size: 1rem;
}

.typer h1 {
	overflow: hidden;
	border-right: .15em solid;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 2s steps(20, end),
		blink-caret .5s step-end infinite,
		glow 3s ease-in-out infinite alternate;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: inherit; }
}

.typer {
	display: inline-block;
}

.gloweffect {
	animation: glow 3s ease-in-out infinite alternate;
}

.boxgloweffect {
	animation: boxglow 3s ease-in-out infinite alternate;
}

@keyframes boxglow {
	from {
		box-shadow: 0 0 2px #48f750;
	}
	to {
		box-shadow: 0 0 10px #48f750;
	}
}

@keyframes glow {
	from {
		text-shadow: 0 0 2px #48f750;
	}
	to {
		text-shadow: 0 0 10px #48f750;
	}
}

.modal-container {
	background-color: rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.3s ease;
}

.modal-container.show {
	opacity: 1;
	pointer-events: auto;
}

.modal {
	background-color: black;
	height: 70%;
	width: 50%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}